.icon {
  display: block;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  width: 20px;
  height: 20px;
  background-color: #fff;
  &:hover {
    cursor: pointer;
    background-color: rgb(225, 225, 225);
  }
  &.download-icon {
    -webkit-mask-image: url(@/assets/icons/download.svg);
  }
  &.gear-icon {
    -webkit-mask-image: url(@/assets/icons/gear.svg);
  }
  &.browser-icon {
    -webkit-mask-image: url(@/assets/icons/browser.svg);
  }
  &.laptop-icon {
    -webkit-mask-image: url(@/assets/icons/laptop.svg);
  }
  &.point-icon {
    -webkit-mask-image: url(@/assets/icons/point.svg);
  }
  &.refresh-icon {
    -webkit-mask-image: url(@/assets/icons/refresh.svg);
  }
  &.error-icon {
    -webkit-mask-image: url(@/assets/icons/error.svg);
  }
  &.check-mark-icon {
    -webkit-mask-image: url(@/assets/icons/check-mark.svg);
  }
}
