<div class="container">
    <h2>UACH to SUA Conversion Playground</h2>
    <span>Select UACH Header Object</span>
    <br><br>
    <div class="custom-select">
        <select class="example-select" id="uach-to-sua-example-selector" data-type="uach-to-sua">
            <option value="{some: 'some'}" selected> some</option>
        </select>
    </div>
    <br><br>
    <div class="inner">
        <div>
            <span>UACH Headers Object</span>
            <pre>
            <code id="uach-to-sua-selected-object"></code>
          </pre>
        </div>
        <div>
            <span>SUA Object</span>
            <pre>
         <code id="uach-to-sua-converted-result"></code>
      </pre>
        </div>
    </div>
</div>