<div class="container">
    <h2>SUA to UACH Conversion Playground</h2>
    <span>Select SUA Example</span>
    <br><br>
    <div class="custom-select">
        <select class="example-select" id="example-selector" data-type="sua-to-uach">
            <option value="{some: 'some'}" selected> some</option>
        </select>
    </div>
    <br><br>
    <div class="inner">
        <div>
            <span>SUA Object</span>
            <pre>
            <code id="sua-to-uach-selected-object"></code>
          </pre>
        </div>
        <div>
            <span>UACH Header Map</span>
            <pre>
         <code id="sua-to-uach-converted-result"></code>
      </pre>
        </div>
    </div>
</div>